.about {

    .page-content {
        margin-inline: 30px;

        h3 {
            font-size: 1.8rem;
            margin-block-end: 20px;
            color: $secondary-clr;
        }

        p {
            margin-block-end: 30px;
            text-align: center;
            font-size: 1.5rem;

            @include for-mobile-layout {
                font-size: 1.6rem;
            }

            @include for-narrow-layout {
                font-size: 1.7rem;
            }

            @include for-tablet-layout {
                margin-block-end: 40px;
                font-size: 1.8rem;
                max-width: 800px;
            }

            @include for-large-layout {
                margin-block-end: 60px;
                font-size: calc(10px + 1.1vw);
                max-width: 1000px;
            }

        }

    }

    .girl-skate {
        position: fixed;
        left: 200%;
        bottom: 0;
        opacity: .3;
        width: 140px;
        animation: slideIn 1.3s cubic-bezier(0, 0, 0.34, 0.96) forwards;

        @include for-mobile-layout {
            width: 190px;
        }

        @include for-tablet-layout {
            animation-duration: 1.5s;
            width: 210px;
        }

        @include for-desktop-layout {
            animation-duration: 2s;
            width: 250px;
        }

        @include for-large-layout {
            animation-duration: 2.5s;
            width: 15%;
        }

        @keyframes slideIn {
            to {
                left: 0;

                @include for-large-layout {
                    left: 2%;
                }
            }
        }
    }



}