.about {

    .page-content {
        margin-inline: 30px;

        p {
            margin-block-end: 30px;
            text-align: center;
            font-size: 1.5rem;

            @include for-mobile-layout {
                font-size: 1.6rem;
            }

            @include for-narrow-layout {
                font-size: 1.7rem;
            }

            @include for-tablet-layout {
                margin-block-end: 40px;
                font-size: 1.8rem;
                max-width: 800px;
            }

            @include for-large-layout {
                margin-block-end: 60px;
                font-size: calc(10px + 1.1vw);
                max-width: 1000px;
            }

        }

    }

    .girl-skate {
        position: fixed;
        left: 0;
        bottom: 0;
        opacity: 0;
        width: 140px;
        animation: fadeIn4 1s ease-out forwards;

        @include for-mobile-layout {
            width: 190px;
        }

        @include for-tablet-layout {
            width: 210px;
        }

        @include for-desktop-layout {
            width: 250px;
        }

        @include for-large-layout {
            left: 2%;
            width: 15%;
        }

        @keyframes fadeIn4 {
            to {
                opacity: .4;
            }
        }
    }

}