.gallery {

    h1 {
        letter-spacing: 0.05rem;
        text-align: center;
        margin-block: 20px;
        font-size: 2.2rem;

        .logo {
            display: inline-block;
            font-size: 2.1rem;
        }
    }
}