.gallery {
    overflow-x: hidden;

    h1 {
        letter-spacing: 0.05rem;
        text-align: center;
        margin-block: 20px;
        font-size: 2.2rem;

        @include for-tablet-layout {
            margin-block: 30px;
            font-size: 2.5rem;

            .logo {
                font-size: 2.4rem !important;
            }
        }

        @include for-desktop-layout {
            margin-block-end: 40px;
            font-size: 3.1rem;

            .logo {
                font-size: 3rem !important;
            }
        }

        @include for-large-layout {
            margin-block-end: 50px;
            font-size: 3.5rem;

            .logo {
                font-size: 3.4rem !important;
            }
        }

        .logo {
            display: inline-block;
            font-size: 2.1rem;
        }
    }
}