body {
    background-color: $main-clr;
    color: $font-clr1;
    margin: 0;
    user-select: none;
    direction: rtl;
    font-family: amatic;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

a {
    all: unset;
    cursor: pointer;
}