/* Breakpoint mixins */

//500px +
@mixin for-mobile-layout {
    @media (min-width: $mobile-breakpoint) {
        @content;
    }
}

//630px +
@mixin for-narrow-layout {
    @media (min-width: $narrow-breakpoint) {
        @content;
    }
}

//768px +
@mixin for-tablet-layout {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}


//1024px +
@mixin for-desktop-layout {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

//1200px +
@mixin for-large-layout {
    @media (min-width: $large-breakpoint) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}