//colors
$main-clr: #FFF2E1;
$font-clr1: #000000;
$secondary-clr: #D60001;

:root {
    //paddings
    --padding-inline: 2.5rem;
}


// Breakpoints
$mobile-breakpoint: 500px;
$narrow-breakpoint: 630px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;