.down-arrow {
    position: fixed;
    bottom: 20px;
    left: 50%;
    translate: -50%;
    width: 35px;
    opacity: 0;
    animation: arrowBounce 3s infinite;
    transition: .5s;

    &.visible {
        opacity: 1;
    }


    @keyframes arrowBounce {
        0% {
            transform: translateX(-50%) translateY(0);
        }

        5% {
            transform: translateX(-50%) translateY(0);
        }

        20% {
            transform: translateX(-50%) translateY(10px);
        }

        35% {
            transform: translateX(-50%) translateY(0);
        }

        50% {
            transform: translateX(-50%) translateY(10px);
        }

        65% {
            transform: translateX(-50%) translateY(0);
        }

        80% {
            transform: translateX(-50%) translateY(10px);
        }

        100% {
            transform: translateX(-50%) translateY(0);
        }
    }
}