.merch-section {
    position: relative;
    overflow-y: hidden;
    text-shadow: 2px 2px 2px $main-clr,
        -2px -2px 2px darken($main-clr, 10%),
        2px -2px 2px lighten($main-clr, 10%),
        -2px 2px 2px darken($main-clr, 20%);

    h1 {
        padding-block: unset;
        margin-block-end: 10px;
        letter-spacing: 0.3rem;
        font-size: 3.8rem;
        z-index: 1;

        @include for-narrow-layout {
            letter-spacing: 0.4rem;
            font-size: 5rem;

            .logo {
                letter-spacing: 0.2rem !important;
                font-size: 4.9rem !important;
            }
        }

        @include for-desktop-layout {
            letter-spacing: 0.5rem;
            font-size: 6rem;

            .logo {
                font-size: 5.9rem !important;
            }
        }

        @include for-large-layout {
            font-size: calc(10px + 10vh);

            .logo {
                letter-spacing: 0.4rem !important;
                font-size: calc(5px + 10vh) !important;
            }
        }


        .logo {
            display: inline-block;
            letter-spacing: 0.1rem;
            font-size: 3.7rem;
        }
    }

    p {
        letter-spacing: 0.15rem;
        font-size: 2.5rem;
        z-index: 1;

        @include for-narrow-layout {
            letter-spacing: 0.2rem;
            font-size: 3rem;
        }

        @include for-desktop-layout {
            letter-spacing: 0.25rem;
            font-size: 3.2rem;
        }

        @include for-large-layout {
            font-size: calc(5px + 5vh);
        }

        a {
            text-decoration: none;
        }
    }

    img {
        position: absolute;
        opacity: 0;

        &.ziv {
            width: 68%;
            top: 0;
            left: -30px;

            @include for-mobile-layout {
                width: 55%;
            }

            @include for-narrow-layout {
                width: 47%;
            }

            @include for-tablet-layout {
                width: 40%;
            }

            @include for-desktop-layout {
                width: 30%;
            }

            @include for-large-layout {
                width: 15%;
            }
        }

        &.ziv-2 {
            height: 100%;
            width: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
            opacity: 1;
        }

        &.ziv-and-men {
            width: 85%;
            top: 100px;
            right: 0;

            @include for-mobile-layout {
                width: 70%;
            }

            @include for-narrow-layout {
                width: 60%;
            }

            @include for-tablet-layout {
                width: 50%;
            }

            @include for-desktop-layout {
                width: 40%;
            }

            @include for-large-layout {
                width: 25%;
                top: 23%;
                right: 25%;
            }
        }

        &.ziv-and-men-2 {
            width: 85%;
            bottom: -30px;
            right: -70px;

            @include for-mobile-layout {
                width: 70%;
            }

            @include for-tablet-layout {
                width: 65%;
            }

            @include for-desktop-layout {
                right: 0;
                width: 55%;
            }

            @include for-large-layout {
                bottom: -80px;
                width: 37%;
            }
        }

        &.ziv-and-men3 {
            width: 50%;
            top: 10%;
            right: 30%;
            animation-delay: 1s;

            @include for-desktop-layout {
                width: 30%;
            }

            @include for-large-layout {
                top: 0;
                right: 0;
                width: 20%;
            }
        }

        &.ziv-and-men4 {
            width: 50%;
            bottom: 10%;
            left: 20%;

            @include for-desktop-layout {
                width: 30%;
            }

            @include for-large-layout {
                bottom: 2%;
                width: 25%;
            }
        }

        &.no-faces {
            width: 85%;
            top: -40px;
            right: -50px;

            @include for-mobile-layout {
                width: 70%;
            }

            @include for-tablet-layout {
                width: 65%;
            }

            @include for-tablet-layout {
                top: -90px;
                width: 60%;
            }

            @include for-desktop-layout {
                top: -90px;
                width: 55%;
            }

            @include for-large-layout {
                right: 23%;
                width: 45%;
            }
        }

        &.men {
            width: 68%;
            left: -80px;
            bottom: -5px;

            @include for-mobile-layout {
                width: 56%;
            }

            @include for-narrow-layout {
                width: 47%;
            }

            @include for-tablet-layout {
                width: 43%;
            }

            @include for-desktop-layout {
                width: 32%;
            }

            @include for-large-layout {
                width: 20%;
            }
        }

        &.men-2 {
            width: 50%;
            right: 5px;
            bottom: 190px;

            @include for-mobile-layout {
                width: 40%;
            }

            @include for-narrow-layout {
                right: 45px;
                width: 30%;
            }

            @include for-tablet-layout {
                width: 25%;
            }

            @include for-desktop-layout {
                width: 20%;
            }

            @include for-large-layout {
                right: 40%;
                bottom: 10%;
                width: 13%;
            }
        }

        &.men-3 {
            width: 65%;
            left: -70px;
            bottom: 30%;

            @include for-mobile-layout {
                width: 60%;
            }

            @include for-tablet-layout {
                bottom: 33%;
                width: 55%;
            }

            @include for-desktop-layout {
                left: 30px;
                width: 40%;
            }

            @include for-large-layout {
                left: 5%;
                width: 25%;
            }

        }

    }

    &.visible {
        img {
            animation: popIn .001s forwards;

            &.ziv {
                animation-delay: 1.2s;
            }

            &.ziv-and-men {
                animation-delay: .4s;
            }

            &.ziv-and-men-2 {
                animation-delay: 1.8s;
            }

            &.ziv-and-men3 {
                animation-delay: 1.6s;
            }

            &.ziv-and-men4 {
                animation-delay: 1s;
            }

            &.no-faces {
                animation-delay: .8s;
            }

            &.men {
                animation-delay: 1.4s;
            }

            &.men-2 {
                animation-delay: 2s;
            }

            &.men-3 {
                animation-delay: .6s;
            }

        }
    }

    @keyframes popIn {
        to {
            opacity: 1;
        }
    }
}