.review-section {
    position: relative;

    // .five-stars {
    //     justify-content: center;
    //     padding: 20px;
    // }


    .review-list {
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: repeat(auto-fit, 1fr);
        height: 100%;
        padding-inline: 20px;

        @include for-narrow-layout {
            padding-inline: 30px;
        }

        @include for-tablet-layout {
            padding-inline: 40px;
        }

        @include for-large-layout {
            padding-inline: 70px;
        }

        .review {
            position: relative;
            justify-self: end;
            max-width: 250px;
            font-size: 1.5rem;

            @include for-mobile-layout {
                max-width: 300px;
                font-size: 1.6rem;
            }

            @include for-narrow-layout {
                max-width: 350px;
                font-size: 1.9rem;
            }

            @include for-tablet-layout {
                max-width: 420px;
            }

            @include for-desktop-layout {
                max-width: 600px;
                font-size: 2rem;
            }


            @include for-large-layout {
                max-width: 750px;
                font-size: calc(10px + 1.5vw);
            }

            .five-stars {
                position: absolute;
                bottom: 30px;
                left: 90%;
                opacity: .8;

                @include for-mobile-layout {
                    left: 100%;
                }

                @include for-narrow-layout {
                    left: 110%;
                }
            }

            .quote {
                position: absolute;
                top: 30px;
                right: -13px;
                width: 120px;
                z-index: 1;
            }

            &.even {
                justify-self: start;

                .five-stars {
                    bottom: 40px;
                    left: unset;
                    right: 90%;

                    @include for-mobile-layout {
                        right: 100%;
                    }

                    @include for-narrow-layout {
                        right: 110%;
                    }
                }
            }

            p {
                z-index: 1;
            }

        }

    }

    img {
        position: absolute;
        border-radius: 4px;
        opacity: 0;
        transition: 1s;


        &.fish {
            right: 0;
            top: 13%;
            width: 130px;

            @include for-mobile-layout {
                width: 160px;
            }

            @include for-tablet-layout {
                top: 18%;
                width: 200px;
            }

            @include for-desktop-layout {
                width: 240px;
            }

            @include for-large-layout {
                width: 18%;
            }
        }

        &.women {
            left: 0;
            bottom: 22%;
            width: 160px;

            @include for-mobile-layout {
                width: 180px;
            }

            @include for-tablet-layout {
                bottom: 20%;
                width: 220px;
            }

            @include for-desktop-layout {
                width: 260px;
            }

            @include for-large-layout {
                bottom: 10%;
                width: 18%;
            }
        }
    }

    &.visible {
        img {
            opacity: .4;

            &.fish {
                right: 10%;

                @include for-narrow-layout {
                    right: 15%;
                }

                @include for-desktop-layout {
                    right: 18%;
                }

            }

            &.women {
                left: 10%;

                @include for-narrow-layout {
                    left: 15%;
                }

                @include for-tablet-layout {
                    left: 20%;
                }
            }
        }
    }

}