.sections-list {

    .section {

        img {
            position: absolute;
            top: 67%;
            left: 0;
            translate: 0 -67%;

            width: 250px;

            @include for-mobile-layout {
                width: 365px;
            }
        }


        p {
            position: absolute;
            top: 48%;
            right: 5px;
            translate: 0 -48%;

            max-width: 300px;
            letter-spacing: 0.03rem;

            @include for-mobile-layout {
                max-width: 400px;
                font-size: 1.1rem;
            }
        }

        &.even {

            img {
                left: unset;
                right: -30px;
                translate: 0 -67%;
            }

            p {
                right: unset;
                left: 30%;
                translate: -30% -48%;
            }
        }

    }
}