.social-list {

    .social-link {
        margin-inline: 13px;

        @include for-tablet-layout {
            margin-inline: 20px;
        }

        @include for-desktop-layout {
            margin-inline: 25px;
        }
    }

}